@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Heebo:wght@100&family=Inter:ital,opsz,wght@0,14..32,100;1,14..32,100&display=swap");

body {
  font-family: "Google Sans", sans-serif;
}
